@model ChangePassword

@{
    ViewData["Title"] = "Reset Password";
    Layout = "_StaticLayout";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background: url('/Image/main.png');
        background-size: cover;
        margin: 0;
        padding: 0;
    }

    .change {
        background-color: rgba(255, 255, 255, 0.9);
        width: 400px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .change h2 {
        margin-bottom: 20px;
        color: #333;
    }

     .change form {
         display: flex;
         flex-direction: column;
         gap: 15px;
     }

     .change input[type="password"] {
         width: calc(100% - 20px);
         padding: 10px;
         border: 1px solid #ccc;
         border: 4px;
         font-size: 14px;
     }

     .change input[type="submit"] {
         background-color: #007bff;
         color: #fff;
         border: none;
         border-radius: 4px;
         padding: 10px;
         cursor: pointer;
         font-size: 16px;
     }

     .change input[type="submit"]:hover {
        background-color: #0056b3;
     }

    .text-danger {
        color: red;
        font-size: 12px;
    }

    label {
        display: none;
    }

</style>


<div class="change">
    <h2>Reset Password</h2>
    <form asp-action="ResetPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="EmailToken" type="hidden"/>

        <div class="new">
            <input asp-for="NewPassword" type="password" placeholder="New Password" />
            <label asp-for="NewPassword" class="form-label"></label>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="confirm">
            <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" />
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>

