@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('/Image/event.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.event {
    text-align: center;
    font-size: 36px;
    font-family: 'Georgia', serif;
    color: #333;
    margin-top: 30px;
}

.event-form {
    max-width: 580px;
    width: 90%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

    .event-form input {
        width: 100% !important;
        box-sizing: border-box !important;
        padding: 10px;
        font-size: 16px;
        border: 2px solid rgba(204, 204, 204, 0.5);
        border-radius: 5px;
        margin-bottom: 15px;
        display: block;
    }

    .event-form textarea {
        width: 100% !important;
        box-sizing: border-box !important;
        padding: 10px;
        font-size: 16px;
        border: 2px solid rgba(204, 204, 204, 0.5);
        border-radius: 5px;
        margin-bottom: 15px;
        height: 120px;
        resize: vertical;
        display: block;
    }

    .event-form label {
        font-size: 16px;
        color: #555;
        margin-bottom: 5px;
    }


    .event-form button {
        width: 100%;
        padding: 12px;
        background-color: #007bff;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .event-form button:hover {
            background-color: #0056b3;
        }
